<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Bienvenidos!</title>
</head>
<body>
<div class="container">
    <h3>Bienvenidos a RENIEC</h3>
    <div class="row">
        <div class="card">
            <div class="card-body">

                <h5 class="card-title">
                    Personas
                </h5>

                <p class="card-text">
                    Desde aqui podremos realizar el mantenimiento de Personas
                </p>

                <a th:href="@{/persona}" class="btn btn-primary">
                    Personas
                </a>

            </div>
        </div>
    </div>
</div>

</body>
</html>